.test-container {
    border: 2px solid var(--color-primary-green);
    background: white;
    padding: 2rem 0 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
}


.test-container-body {
    display: grid;
    align-items: start;
}