/* .faqCardComponent {
    background: var(--color-grey-100);
} */

.faqCard {
    border: 2px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    display: flex;
    align-items: center;  
    gap: 1rem;
    background: var(--color-grey-100);
}

.faqCard h1 {
    font-size: 3rem;
    /* border: 1px solid red; */
    justify-self: center;
    align-self: center;
    margin-left: 1rem;
}

.faqCard:hover {
    cursor: pointer;
}

.faqCard p {
    font-size: 1.3rem;
    /* border: 1px solid blue; */
}

.hiddenAnswer {
    opacity: 0;
}

.showAnswer {
    display: block;
}