nav {
    height: 4rem;
}

.navbarContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    justify-content: center;
    height: 100%;
}

h1 {
    grid-column: 1 / 2;
    color: var(--color-primary-green);
    font-size: 2rem;
}

.navbarLinks {
    grid-column: -2 / -1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5%;
    height: 100%;
    align-items: center;
    list-style: none;
}

.navbarLinks li {
    height: 100%;
}

.navbarLinks li a {
    text-decoration: none;
    font-size: 1.2rem;
    height: 100%;
    display: grid;
    align-items: center;
    padding: 0 20px;
    color: var(--color-grey-100);
}

.navbarLinks li a:hover {
    color: hsl(155, 67%, 43%);
    background: var(--color-secondary-dark);
}


.bars {
    font-size: 24px;
    color: hsl(0, 0%, 11%);
    margin-left: 1rem;
    display: none;
}

.bars:hover {
    cursor: pointer;
}
