.notFoundPageComponent {
    min-height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notFoundPageComponent h1 {
    font-size: 8rem;
    margin-bottom: 2rem;
}

.notFoundBtn {
    font-size: 2rem;
    text-decoration: none;
    padding: .5rem;
    color: var(--color-primary-green);
    background: var(--color-primary-dark);
    border: 2px solid var(--color-primary-green);
    border-radius: 6px;
    cursor: pointer;
    width: 12rem;
    text-align: center;
}

.notFoundBtn:hover {
    background: var(--color-primary-green);
    color: var(--color-primary-dark);
    border: 2px solid transparent;
}

@media screen and (max-width: 1248px) {
    .notFoundPageComponent h1 {
        font-size: 6rem;
    }
}

@media screen and (max-width: 900px) {
    .notFoundPageComponent h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 720px) {
    .notFoundPageComponent h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 600px) {
    .notFoundPageComponent h1 {
        font-size: 2rem;
    }
}