.adminLoginPageComponent {
    min-height: calc(100vh - 4rem);
    background: var(--color-primary-dark);
    color: white;
}

.adminLoginContainer {
    margin-bottom: 4rem;
    padding: 4rem 2rem 2rem 2rem;
}

.adminLoginTitle {
    color: var(--color-grey-100);
    font-size: 2rem;
    position: relative;
    text-align: center;
}

.adminLoginTitle::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 100px;
    height: 5px;
    background: var(--color-primary-green);
}

.adminLoginFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminLoginForm {
    margin-top: 6rem;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.adminLoginFormGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
}

.adminLoginFormLabel {
    margin-bottom: .25rem;
}

.adminLoginFormInput {
    padding: .25rem;
    border-radius: 6px;
    outline: none;
    border: 2px solid transparent;
}

.adminLoginFormSubmitBtn {
    border-radius: 6px;
    outline: none;
    border: 2px solid transparent;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary-dark);
    background: var(--color-primary-green);
    width: 60%;
    align-self: center;
    font-weight: 600;
}

.adminLoginFormSubmitBtn:hover {
    color: var(--color-primary-green);
    background: var(--color-primary-dark);
    border: 2px solid var(--color-primary-green);
    cursor: pointer;
}


