.servicesBody {
    
    margin-top: 2rem; 
    color: white;
    padding: 1.5rem 1rem;
    text-align: center;
    transition: transform .5s;
    cursor: pointer;
    border-radius: .25rem;
}

.servicesBody h2 {
    margin-bottom: 1rem;
}

.servicesBody p {
    color: var(--color-grey-300);
}

.servicesBody:hover {
    transform: scale(1.1);
    background: var(--color-grey-300);  
}

.servicesBody:hover p {
    color: var(--color-grey-100); 
}

/* .servicesSubTitle {
    color: var(--color-primary-green);
    font-size: 3rem;
} */

.servicesIcon > *{
    color: var(--color-primary-green);
    font-size: 3rem;
    margin-bottom: 1rem;
}
