.servicesBody {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 2rem; */
    margin-top: 2rem; 
    color: white;
    /* border: 1px solid green; */
    padding: 1.5rem 1rem;
    text-align: center;
    transition: transform .5s;
    cursor: pointer;
    border-radius: .25rem;
}

.servicesBody h2 {
    margin-bottom: 1rem;
}

.servicesBody:hover {
    transform: scale(1.1);
    background: var(--color-grey-300);
    /* color: var(--color-primary-green);
    font-weight: bold; */
    
}

/* .servicesBody:hover .servicesIcon > *{
    color: var(--color-grey-100);
} */

.servicesSubTitle {
    color: var(--color-primary-green);
    font-size: 3rem;
}

.servicesIcon > *{
    /* background: white; */
    color: var(--color-primary-green);
    font-size: 3rem;
    margin-bottom: 1rem;
}
