.newsletterContainer {
    color: white;
    display: grid;
    align-items: center;
    border: blue;
    padding: 2rem 0 2rem 0;
}

.newsletterContainerDark {
    background: var(--color-primary-dark);
}

.newsletterContainerLight {
    background: var(--color-grey-100);
}

.newsletter {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: baseline;
    gap: 2rem;
}

.newsletterLeft {
    align-self: center;
}

.newsletterLeft .title {
    color: var(--color-primary-green);
}

.newsletterLeft .textLight {
    color: var(--color-primary-dark);
}

.newsletterLeft .textDark {
    color: var(--color-grey-100);
}

.newsletterRight {
    display: grid;
    grid-template-rows: 1fr 1fr;
    
}

.newsletterTop form{
    display: flex;
    gap: .5rem;
    margin-bottom: .5rem;
    align-items: center;
}

.newsletterTop form input {
    padding: .5rem;
    border-radius: 6px;
    outline: none;
    border: 2px solid transparent;
    height: 2rem;
}

.newsletterTopLight form input{
    border: 2px solid var(--color-primary-dark);

}

.newsletterTop form button {
    border-radius: 6px;
    outline: none;
    border: 2px solid transparent;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary-dark);
    background: var(--color-primary-green);
    width: 6rem;
    font-weight: 600;
}

.newsletterTop form button:hover {
    color: var(--color-primary-green);
    background: var(--color-primary-dark);
    border: 2px solid var(--color-primary-green);
    cursor: pointer;
}

.newsletterTop form .btnDark {
    color: var(--color-primary-green);
    background: var(--color-primary-dark);
}

.newsletterTop form .btnDark:hover {
    background: var(--color-grey-100);
    border: 2px solid var(--color-primary-green);
}

.newsletterBottom {
    justify-content: start;
    align-items: start;
}

.newsletterFormError {
    color: red;
}

.newsletterFormStatus {
    color: var(--color-primary-green);

}

.textDark {
    color: var(--color-primary-dark);
}

.newsletterBottom a {
    color: var(--color-primary-green);
    font-size: 1rem;
}

/* Medium and Small Screens */
@media screen and (max-width: 1024px) {
    .newsletter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }


    .newsletterTop {
        text-align: center;
    }
    
    .newsletterLeft p {
        text-align: center;
    }

    .newsletterLeft {
        margin-bottom: -1rem;
    }

    .newsletterFormError, .newsletterFormStatus {
        text-align: start;
    }



}