.adminPageComponent {
    min-height: calc(100vh - 4rem);
    background: var(--color-primary-dark);
}

.adminContainer {
    margin-bottom: 4rem;
    padding: 4rem 2rem 2rem 2rem;
}

.adminTitle {
    color: var(--color-grey-100);
    font-size: 2rem;
    position: relative;
    text-align: center;
}

.adminTitle::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 100px;
    height: 5px;
    background: var(--color-primary-green);
}

.adminTableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminTable {
    border-collapse: collapse;
    margin-top: 2rem;
    width: 100%;
    color: var(--color-grey-100);
    border: 2px solid var(--color-grey-300);
}

.adminTable th, .adminTable td {
    padding: 1rem;
    border: 2px solid var(--color-grey-300);
}

.adminTable th {
    text-align: start;
    color: var(--color-primary-green);   
     
}

