.adminPageComponent {
    min-height: calc(100vh - 4rem);
    background: var(--color-grey-100);
}

.adminContainer {
    margin-bottom: 4rem;
    padding: 6rem 2rem 2rem 2rem;
    
}

.adminTitle {
    color: var(--color-primary-dark);
    font-size: 2rem;
    position: relative;
    text-align: center;
}

.adminTitle::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 100px;
    height: 5px;
    background: var(--color-primary-green);
}

.adminGrid {
    margin-top: 2rem;
}

.adminCardContainer {
    display: grid;
    grid-template-columns: 90% 10%;
    justify-content: space-between;
    align-items: center;
    border: 2px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    background: var(--color-grey-100);
    padding: 1rem;
    color: var(--color-primary-dark);
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.adminCard {
    display: grid;
    grid-template-columns: 20% 30% 40% 10%;
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem; */
    /* border: 2px solid red; */
}

.adminCardButtons {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.adminCardButtons button {
    font-size: .75rem;
    text-decoration: none;
    padding: .25rem;
    color: var(--color-primary-dark);
    border: 2px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    width: 4rem;
    text-align: center;
}

.viewBtn {
    background: var(--color-primary-green);
}

.deleteBtn {
    background: red;
}
