.servicesPageComponent {
    min-height: calc(100vh - 4rem);
    background: var(--color-primary-dark);
    display: grid;
    align-items: center;
}

.servicesContainer {
    margin-bottom: 4rem;
    padding: 2rem 2rem 2rem 2rem;
}

.servicesRow {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    grid-gap: 1rem;
    margin-top: 2rem;
}

.servicesTitle {
    color: var(--color-grey-100);
    font-size: 2rem;
    position: relative;
    text-align: center;
}

.servicesTitle::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 100px;
    height: 5px;
    background: var(--color-primary-green);
}

@media screen and (max-width: 500px) {
    .servicesRow {
        grid-template-columns: 1fr;
        align-items: center;
    }
}