.aboutPageComponent {
    min-height: calc(100vh - 4rem);
    background: var(--color-primary-dark);
    display: grid;
    align-items: center;
    justify-content: center;
}

.aboutContainer {
    margin-bottom: 4rem;
    padding: 2rem 0rem 2rem 0rem;
    
}

.aboutRow {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 3rem;
    margin-top: 4rem;
    padding: 1rem;
    width: 100%;
}

.aboutTitle {
    color: var(--color-grey-100);
    font-size: 2rem;
    position: relative;
    text-align: center;
}

.aboutTitle::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 100px;
    height: 5px;
    background: var(--color-primary-green);
}

.aboutLeftCol {
    display: grid;
    padding: 1rem;
    align-items: space-between;

}

.aboutLeftTitle {
    font-size: 3rem;
    color: var(--color-primary-green);
}

.aboutLeftText {
    font-size: 1.5rem;
    color: var(--color-grey-300);
    margin-top: 1rem;
}

.aboutRightCol {
    display: grid;
    padding: 1rem
}

.aboutRightTitle {
    font-size: 2rem;
    color: var(--color-primary-green);
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
}

.aboutRightTitle svg {
    margin-right: 1rem;
}

.aboutRightText {
    font-size: 1rem;
    color: var(--color-grey-100);
    margin-bottom: 1rem;
}

@media screen and (max-width: 935px) {
    .aboutRow {
        gap: 1rem;
        grid-template-columns: 1fr;
        margin-top: 1rem;
    }
    

    .aboutLeftTitle {
        text-align: center;
    }

    .aboutLeftText {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .aboutRow {
        align-items: center;
    }
    
    .aboutLeftTitle {
        font-size: 2.5rem;
    }

    .aboutLeftText {
        font-size: 1.2rem;
    }
}